<router-outlet></router-outlet>

<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Micro Application</mat-card-title>
    <mat-card-subtitle>Angular</mat-card-subtitle>
  </mat-card-header>
  <!-- <div class="image-holder"> -->
    <img mat-card-image 
    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 250 250'%3E%3Cpath fill='%23dd0031' d='M125 30 31.9 63.2l14.2 123.1L125 230l78.9-43.7 14.2-123.1z'/%3E%3Cpath fill='%23c3002f' d='M125 30v22.2-.1V230l78.9-43.7 14.2-123.1L125 30z'/%3E%3Cpath fill='%23fff' d='M125 52.1 66.8 182.6h21.7l11.7-29.2h49.4l11.7 29.2H183L125 52.1zm17 83.3h-34l17-40.9 17 40.9z'/%3E%3C/svg%3E"
    alt="Angular Logo">
  <!-- </div> -->
  <mat-card-content>
    <p>
      Here is a <b>Single-SPA micro application</b> that can also serve as a standalone application.
    </p>
    <p>
      Background, after converting an angular application to Single-SPA. The application can no longer be serve locally.
      It display a blank page.
    </p>
    <p>A basic overview to address this concern:</p> 
    <ol>
      <li>Add a new entry under project in angular.json file.</li>
      <li>Add a new file tsconfig.app.json.</li>
      <li>Modify package.json file</li>
    </ol>
    <p>
      For a detail information. Please see README file.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

